.header__head-title {
  color: #fff;
  font-family: DynaPuff;
  font-size: clamp(48px, 11vw, 80px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 1060px) {
    margin-left: 34px;
  }

  @media (max-width: 768px) {
    margin-left: 34px;
  }
  @media (max-width: 320px) {
    margin-left: 21px;
    
  }
}
