.header {
  display: flex;
  width: 100%;
  min-height: 800px;
  max-height: 800px;
  margin-top: -119px;
  background: linear-gradient(253deg, #ffee32 -13.48%, #d6d6d6 125.48%);
  flex-direction: row;
  justify-content: center;
  @media (max-width: 1060px) {
    width: 100%;
    margin-top: -119px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-top: -117px;
  }
  @media (max-width: 320px) {
    margin-top: -106px;
    width: 100%;
  }
}

.header__container {
    align-items: end;
    padding-bottom: 119px;
  @media (max-width: 1060px) {
    width: 100%;
    
  }

  @media (max-width: 768px) {
    padding-bottom: 130px;
    width: 100%;
    
  }
  @media (max-width: 320px) {
    width: 100%;
    margin-left: 0;
  }
}
