.section-app__card-arrow-link{
   display: flex;
   background-color: #fff; 
   position: absolute;
   right: 32px;
   top: 32px;
   width: 56px;
   height: 56px;
   justify-content: center;
   align-items: center;
   border-radius: 28px;
}