.section-app{
    background: #3C3C3C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 86px 0;
}

.section-app__container{
    justify-content: center;
    margin: 0 17px;
}