.section-design{
    background-color: #202020;
    display: flex;
    justify-content: center;
    padding-top: 82px;
    padding-bottom: 138px;
    @media (min-width: 1060px) {
        padding-top: 82px;
        padding-bottom: 138px;
    }
  
    @media (min-width: 768px) {
        padding-top: 82px;
        padding-bottom: 129px;
    }
    @media (min-width: 320px) {
        padding-top: 58px;
        padding-bottom: 93px;
    }
}

.section-design__container{
    flex-direction: column;
    margin-left: 17px;
  margin-right: 17px;
}